<div id="title">
	<h1>New Palindrome</h1>
</div>

<div id="section">

	<%= form_for @palindrome do |f| %>
		<%= f.label :word, "Enter a word:" %>
		<%= f.text_field :word %>
		<%= f.submit "Submit" %>
	<% end %>

	<%= link_to 'Back to List', palindromes_path %>

</br>
	<% flash.each do |type, message| %>
		<%= message %>
	<% end %> 
</div>